* {
  color: white;
  margin: 0;
  text-align: center;

}

header.banner .bg {
  background-image: url('./assets/img/tree.webp');
  background-size: cover;
  height: 100vh;
  position: relative;
}

h1 {
  padding: 50px 0px 20px;
  font-weight: 200rem;
}

input {


  width: 150px;
  background-color: blueviolet;
  border: none;
  margin: 20px 50px;

}

footer {
  align-items: center;
  align-content: center;
  position: fixed;
  bottom: 0;
  left: 30%;
  margin-bottom: 50px;
}

footer :first-child:active {
  background-color: rgb(48, 21, 74);
}